body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    color: #333;
    background-image: url("/static/images/background.png");
}

.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    max-width: 1200px;
    margin: auto;
}

.panel {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    flex: 1;
}

h1 {
    text-align: center;
    font-size: 36px;
    color: #222;
    margin-bottom: 40px;
    margin-top: 0px;
}

h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

ul {
    padding-left: 0;
    list-style: none;
}

li {
    margin-bottom: 25px;
}

.question-block {
    margin-bottom: 20px;
    max-height: 500px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    padding: 16px;
}

.question-text {
    font-weight: bold;
    margin-bottom: 8px;
}

textarea {
    width: 90%;
    height: 20px;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 14px;
    resize: vertical;
}

.file-input {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.file-upload-area {
    border: 2px dashed #007BFF;
    background-color: #f0f8ff;
    padding: 20px;
    text-align: center;
}

input[type="file"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fafafa;
}

button {
    padding: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.filename {
    font-weight: bold;
    color: #007BFF;
}

.logo {
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-bottom: 30px;
}

.file-types {
    margin-top: 10px;
    font-size: 14px;
    color: #444;
    background: #f0f4ff;
    padding: 10px 14px;
    border-left: 4px solid #007bff;
    border-radius: 6px;
}

.file-types code {
    background: #e8eefc;
    padding: 2px 6px;
    border-radius: 4px;
    font-family: monospace;
}

.download-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}
.download-btn:hover {
    background-color: #218838;
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
        gap: 20px;
    }

    .logo {
        width: 300px;
    }
}
